<div class="settings-panel d-none" id="panel-userlog">
  <div class="settings-panel-header">
    <h3 class="settings-panel-title"><i class="ti-time"></i>User Activity Log</h3>
    <p class="settings-panel-desc">Track user logins, actions, and historical interactions within the system.</p>
  </div>
  {% set main_title         = "User Log" %}
  {% set items              = activities if activities is defined else [] %}
  {% set view_columns       = [("Action","name"),("Module","module"),("Date","created_at")] %}
  {% set edit_url_base      = false %}
  {% set use_item_edit_url  = true %}
  {% set delete_url_base    = "/admin/user-log" %}
  {% set search_enabled  = true %}
  {% set search_q        = q_userlog %}
  {% set search_param    = "q_userlog" %}
  {% set filter_cols     = view_columns %}
  {% set active_filters  = [] %}
  {% set _list_id = "userlog" %}
  {% set skip_hero = True %}
  {% include 'admin/gen/gen_view_list_content.html' %}
</div>
