<ul class="list-group-item list-group-item-action flex-column align-items-start">

  <div class="d-flex w-100 justify-content">

    <a href="{{ url_for('auth.user', username=data.created_by.username) }}">
      <img class="align-self-center img-fluid mr-4 rounded-circle" src="{{ data.created_by.gravatar(50) }}" alt="image">
    </a>

    <p class="pull-left">
      <a href="{{ url_for('auth.user', username=data.created_by.username) }}">
        {{ data.created_by.fullname }}
      </a>
      <br>
      <small class="text-muted pull-left">
        {% if data.created_by.last_seen %}
          {{ "Last seen: " +  moment(data.created_by.last_seen).format('lll') }}

        {% else %}
          {{ "Last seen: -" }}
        {% endif %}
      </small>
    </p>

  </div><br>

  <p class="mb-1">{{ data.description  }}</p>

  {% set user_link %}
  <span class="user_popup">
    <a href="{{ url_for('auth.user', username=data.created_by.username) }}">
      {{ data.created_by.username }}
    </a>
  </span>
  {% endset %}
  <small class="text-muted">{{ user_link + moment(data.created_at).fromNow() }}</small>

  <div class="media-body mb-12">
    {% if data.language and data.language != g.locale %}
      <span id="translation{{ post.id }}">
        <a href="javascript:translate(
                        '#post{{ post.id }}',
                                '#translation{{ post.id }}',
                                '{{ data.language }}',
                                '{{ g.locale }}');">{{ 'Translate' }}</a>
      </span>
    {% endif %}
  </div>

</ul>
<br>
