{% if param_menu %}
  {% for menu in param_menu %}
    {% for menu_level_1 in menu['sub'] %}
      {% if menu_level_1['sub'] %}

        <li>

          <a href="javascript:void(0)">
            <i class="ti-dashboard"></i>
            <span>dashboard</span></a>

          <ul class="submenu">

          <li>
            <a href="index.html">ICO dashboard</a>
          </li>

          <li>
            <a href="index2.html">Ecommerce dashboard</a>
          </li>

          <li>
            <a href="index3.html">SEO dashboard</a>
          </li>

        </ul>

      </li>

      <li>

        <a class="javascript:void(0)" data-toggle="dropdown" href="#">
          {{ menu_level_1['text'] }}
        </a>

        {% for menu_level_2 in menu_level_1['sub'] %}

          {% if menu_level_2['child_as_main_list'] %}
            {% set param_url = url_for(menu_level_2['url'], child_as_main_list = menu_level_2['child_as_main_list']) %}
          {% else %}
            {% set param_url = url_for(menu_level_2['url']) %}
          {% endif %}

          <a href="{{ param_url }}">{{ menu_level_2['text'] }}</a>
        {% endfor %}

      </li>

    {% else %}

      <li>
        {% if menu_level_1['url'] is not none or menu_level_1['url'] != '' %}

          {% if menu_level_1['child_as_main_list'] %}
            {% set param_url = url_for(menu_level_1['url'], child_as_main_list = menu_level_2['child_as_main_list']) %}
          {% else %}
            {% set param_url = url_for(menu_level_1['url']) %}
          {% endif %}

          <a href="{{ param_url }}">{{ menu_level_1['text'] }}</a>
        {% else %}
          {{ pass }}
        {% endif %}
      </li>

    {% endif %}
  {% endfor %}
{% endfor %}
{% endif %}
