<ul class="list-group-item list-group-item-action flex-column align-items-start">

  <div class="d-flex w-100 justify-content">

    <a href="{{ url_for('auth.user', username=post.author.username) }}">
      <img class="align-self-center img-fluid mr-4 rounded-circle" src="{{ post.author.gravatar(50) }}" alt="image">
    </a>

    <p class="pull-left">
      <a href="{{ url_for('auth.user', username=post.author.username) }}">
        {{ post.author.fullname }}
      </a>
      <br>
      <small class="text-muted pull-left">
        {% if post.author.last_seen %}
          {{ "Last seen: " +  moment(post.author.last_seen).format('lll') }}
        {% else %}
          {{ "Last seen: -" }}
        {% endif %}
      </small>
    </p>

  </div><br>

  <p class="mb-1">{{ post.body }}</p>

  {% set user_link %}
  <span class="user_popup">
    <a href="{{ url_for('auth.user', username=post.author.username) }}">
      {{ post.author.username }}
    </a>
  </span>
  {% endset %}
  <small class="text-muted">{{ user_link + " said " + moment(post.timestamp).fromNow() }}</small>

  <div class="media-body mb-12">
    {% if post.language and post.language != g.locale %}
      <span id="translation{{ post.id }}">
        <a href="javascript:translate(
                        '#post{{ post.id }}',
                                '#translation{{ post.id }}',
                                '{{ post.language }}',
                                '{{ g.locale }}');">{{ 'Translate' }}</a>
      </span>
    {% endif %}
  </div>

</ul>
<br>
