{% extends extends_layout if extends_layout else 
  'admin/adm_base.html' %}
{% from "_macros.html" import render_label,
pagination_widget,
paginate,
render_pagination %}

{% block head %}

  {{ super() }}

  <style>
    .btn-toolbar .btn {
      margin-bottom: 10px;
      padding: 5px;
    }
  </style>

{% endblock head %}

{% block top_page_content %}

  {% if data_search_form %}
    {% include 'admin/adm_list_search.html' %}
  {% endif %}

{% endblock top_page_content %}

{% block page_content %}

  <div class="row">
    <div class="col-12 mt-5">
      <div class="card">
        <div class="card-body">

          <div class="row">

            <div class="col-12">

              <div class="float-left">
                <br>
                <h5 class="header-title align-bottom" style="vertical-align: bottom;">{{ title }}
                  Data
                </h5>
              </div>

              <div class="float-right">

                <div class="float-right col-auto align-middle">
                  <label class="sr-only">View Per Page
                  </label>
                  {{ data_search_form.per_page(class_="form-control", style="height:44px; vertical-align: middle;") }}
                </div>

                <div class="float-right align-middle">
                  {% if not child %}

                    <a href="{{ url_for('.{}'.format(param_view['add_view_name'])) }}" role="button" aria-expanded="false">
                      <span class="float-right btn btn-primary mb-3 align-middle">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add
                        {{ title }}
                      </span>
                    </a>

                  {% else %}

                    <a href="{{ url_for('.{}'.format(param_view['add_view_name'])) }}" role="button" aria-expanded="false">
                      <span class="float-right btn btn-primary mb-3 align-middle">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add
                        {{ title }}
                      </span>
                    </a>
                  {% endif %}
                </div>

              </div>

            </div>
          </div>

          <div class="single-table">
            <div class="table-responsive">
              <table class="table progress-table text-center">
                <thead class="text-uppercase bg-light">
                  <tr>

                    {% if data_list %}

                      {% for label in view_columns %}
                        <td>
                          <b>{{ label[0] | striptags }}</b>
                        </td>
                      {% endfor %}

                      {% if current_user.is_authenticated %}
                        <td id="action">
                          <b>Action</b>
                        </td>
                      {% endif %}

                    {% endif %}
                  </tr>
                </thead>

                <tbody>
                  {% for datalist in data_list %}
                    <tr>

                      {% for k, v in view_columns %}
                        <td>

                          <!-- load data by given field parameter -->
                          {% if child %}
                            {% if datalist[v] is not none %}
                              {{ datalist[v] | striptags }}
                            {% endif %}
                          {% else %}
                            {% if datalist[v] is not none %}
                              {{ datalist[v] | striptags }}
                            {% endif %}
                          {% endif %}

                        </td>
                      {% endfor %}

                      {% if current_user.is_authenticated %}
                        <td>
                          <div class="btn-group">

                            {% if child %}

                              <a href="{{ url_for('{}{}'.format('.', param_view['edit_view_name']), item_id=datalist['id']|int) }}" class="text-secondary">
                                <i class="fa fa-edit fa-lg"></i>
                              </a>
                              &ensp; | &ensp;
                              <a href="{{ url_for('{}{}'.format('.', param_view['delete_view_name']), item_id=datalist['id']|int) }}" class="text-danger">
                                <i class="ti-trash fa-lg"></i>
                              </a>

                            {% else %}

                              <a href="{{ url_for('{}{}'.format('.', param_view['edit_view_name']), item_id=datalist['id']|int) }}" class="text-secondary">
                                <i class="fa fa-edit fa-lg"></i>
                              </a>
                              &ensp; | &ensp;
                              <a href="{{ url_for('{}{}'.format('.', param_view['delete_view_name']), item_id=datalist['id']|int) }}" class="text-danger">
                                <i class="ti-trash fa-lg"></i>
                              </a>

                            {% endif %}

                          </div>
                        </td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="header-title"></div>
              <nav aria-label="">
                <ul class="pagination justify-content-end">

                  {% if pagination %}
                    {{ pagination_widget(pagination, endpoint, filtered=filtered) }}
                  {% endif %}

                </ul>
              </nav>
            </div>
          </div>

          <div class="float-right">Total row(s) :
            {{ data_list.length }}</div><br>

        </div>
      </div>
    </div>
  </div>

{% endblock page_content %}
{% block script %}
  {{ super() }}
{% endblock %}