{% extends 'admin/adm_base.html' %}

{% block head %}
  {{ super() }}
  <!-- Start datatable css -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
{% endblock head %}

{% block top_page_content %}{% endblock top_page_content %}

{% block page_content %}
  <br/>

  
{# {% for dt in param_test %}
{{ dt }}
{% endfor %} #}

  {% if current_user.is_authenticated %}
    
      <div class="float-right">
        <div class="btn-group">
          {% if not is_child %}
            <a href="{{ url_for('%s%s' % ('.', param_view['add_view_name'])) }}" role="button" aria-expanded="false">
              <button type="button" class="btn btn-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add
                {{ title }}
              </button>
            </a>
          {% else %}
            <a href="{{ url_for('%s%s' % ('.', param_view['add_view_name']), child_as_main_list='as-main-list') }}" role="button" aria-expanded="false">
              <button type="button" class="btn btn-primary">
                <i class="fa fa-plus" style=" vertical-align: middle;" aria-hidden="true"></i>
                Add
                {{ title }}
              </button>
            </a>
          {% endif %}
        </div>
      </div>
    </div>

  {% endif %}

  <div class="col-12 mt-5">

    <div class="card">
      <div class="card-body">
        <h4 class="header-title"></h4>
        <div class="data-tables datatable-dark">
          <table id="dataTab" class="text-center">
            <thead class="text-capitalize">
              <tr>


                {% for label in view_columns %}
                  <th>
                    {{ label[0] }}
                  </th>
                {% endfor %}

                {% if current_user.is_authenticated %}
                  <th id="edit"></th>
                  <th id="delete"></th>
                {% endif %}

              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>

  </div>


{% endblock page_content %}

{% block script %}
{{ super() }}

  <script>
    $('#dataTab').DataTable({
      processing: true,
      responsive: true,
      ajax: {
        url: '{{ data_api_endpoint }}',
        dataSrc: ''
      },
      columns: [
        {# {
            data: null,
            defaultContent: '',
            className: 'select-checkbox',
            orderable: false
        }, #}
        
        {% for k, v in col %} 
          {
            data: "{{  v  }}"
          },
        {% endfor %}
        {% if current_user.is_authenticated %}
          {
            data: 'id', 
            render: function(data){
              return ('<a href="{{ url_for("%s%s" % (".", param_view["edit_view_name"]), item_id="id") }}"><i class="ti-pencil"/></a>').replace('id', data);
            },
          },
          {
            data: 'id',
            render: function(data){
              return ('<a href="{{ url_for("%s%s" % (".", param_view["delete_view_name"]), item_id="id") }}"><i class="ti-trash"/></a>').replace('id', data);
            },
          },
        {% endif %}
      ],
      select: {
            style:    'os',
            selector: 'td:first-child'
      },
      
    });    
  </script>
{% endblock %}

{% block script_src %}
  <!-- Start datatable js -->
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
{% endblock %}
