{% extends extends_layout if extends_layout else 
  'admin/admin_base.html' %}
{% from "_macros.html" import render_label,
pagination_widget,
paginate,
render_pagination %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block top_page_content %}
  {% include 'admin/adm_list_search.html' %}
{% endblock top_page_content %}

{% block page_content %}

  <div class="row">

    <!-- data table start -->
    <div class="col-12 mt-5">
      <div class="card">

        <div class="card-body">
          <h4 class="header-title">{{ title }}

            {% if not is_child %}
              <a href="{{ url_for('%s%s%s' % ('.', param_view['list_view_name'], '_add')) }}">
                <span class="float-right btn btn-outline-primary mb-3 fa fa-plus text-uppercase" style=" vertical-align: middle;">Add Data</span>
              </a>
            {% else %}
              <a href="{{ url_for('%s%s%s' % ('.', param_view['list_view_name'], '_add'), child_as_main_list='as-main-list') }}" class="float-right">
                <span class="float-right btn btn-outline-primary mb-3 fa fa-plus text-uppercase" style=" vertical-align: middle;">Add Data</span>
              </a>
            {% endif %}

          </h4>

          <!-- Table -->
          <div class="single-table">
            <div class="table-responsive">
              <table class="table table-hover progress-table text-center">

                <thead class="text-uppercase">
                  <tr>

                    {% for field_label in param_fields['field_labels'] %}
                      <th scope="col">{{ field_label|striptags }}</th>
                    {% endfor %}

                    {% if current_user.is_authenticated %}
                      <th scope="col">Action</th>
                    {% endif %}

                  </tr>
                </thead>

                <tbody>
                  {% for k, v in data_list %}
                    <tr>
                      {% for field_name in param_fields['field_names'] %}
                        <td>
                          <!-- load data by given field parameter -->
                          {% if is_child %}

                            <a href="{{ url_for('%s%s%s' % ('.', parent_endpoint, '_edit'),
                                                    item_id=datalist[param['column_related_to_parent']]|int) }}">

                              {% if v is not none %}
                                {{ k }}
                              {% endif %}
                            </a>

                          {% else %}

                            <a href="{{ url_for('%s%s%s' % ('.', param_view['list_view_name'], '_edit'),
                                                        item_id=datalist.id|int) }}">

                              {% if v is not none %}
                                {{ v }}
                              {% endif %}
                            </a>

                          {% endif %}
                        </td>
                      {% endfor %}

                      {% if current_user.is_authenticated %}

                        <td>
                          <ul class="d-flex justify-content-center">

                            {% if is_child %}
                              <li class="mr-3">
                                <a href="{{ url_for('%s%s%s' % ('.', param_view['list_view_name'], '_edit'),
                                                        item_id=datalist[param['column_related_to_parent']]|int,
                                                        child_id=datalist.id|int,
                                                        child_as_main_list=child_as_main_list) }}" role="button" aria-expanded="false">
                                  <i class="fa fa-edit"></i>
                                </a>
                              </li>
                              <li>
                                <a href="{{ url_for('%s%s%s' % ('.', param_view['list_view_name'], '_delete'),
                                                        item_id=datalist[param['column_related_to_parent']]|int,
                                                        child_id=datalist.id|int,
                                                        child_as_main_list=child_as_main_list)}}" role="button" aria-expanded="false" class="text-danger">
                                  <i class="ti-trash"></i>
                                </a>
                              </li>

                            {% else %}
                              <li class="mr-3">
                                <a href="{{ url_for('%s%s%s' % ('.', param_view['list_view_name'], '_edit'),
                                                        item_id=datalist.id|int) }}" role="button" aria-expanded="false">
                                  <i class="fa fa-edit"></i>
                                </a>
                              </li>
                              <li>
                                <a href="{{ url_for('%s%s%s' % ('.', param_view['list_view_name'], '_delete'),
                                                        item_id=datalist.id|int) }}" role="button" aria-expanded="false" class="text-danger">
                                  <i class="fas ti-trash"></i>
                                </a>
                              </li>

                            {% endif %}
                          </ul>
                        </td>
                      {% endif %}
                    </tr>
                  {% endfor %}

                </tbody>
                <tfoot></tfoot>

              </table>

            </div>

          </div>

          <div class="card">
            <div class="card-body">
              <div class="header-title"></div>
              <nav aria-label="">
                <ul class="pagination justify-content-end">
                  {% if pagination %}
                    {{ pagination_widget(pagination, endpoint, filtered=filtered) }}
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>

        </div>

      </div>
    </div>
    <!-- data table end -->
  </div>

{% endblock page_content %}

{% block script %}
  {{ super() }}
{% endblock %}
