{% extends extends_layout if extends_layout else 
  'admin/adm_base.html' %}
{% from "_macros.html" import render_fields,
render_field %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block page_content %}

  <div class="row">
    <div class="col-12 mt-5">
      <div class="card">
        <div class="card-body">
          {# <div class="col-12 mt-5"> #}
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-9">
                <div class="card">
                  <div class="card-body">
                    <h2>{{ title }}</h2>
                    <hr>

                    <form role="form" class="form-horizontal" action="{{ action }}" method="POST">
                      <div class="card-body">
                        {{ render_fields(form, render_field) }}
                      </div>
                      <hr>

                      <div class="float-end">
                        <button type="submit" value="Submit" class="btn btn-primary btn-md pull-right">Submit</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if have_child
  and 'add' not in request.path
  and 'edit' not in request.path
  and 'delete' not in request.path
 %}

    {% include list_detail_template %}

  {% endif %}

{% endblock %}

{% block script %}
  {{ super() }}
{% endblock %}
