<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="csrf-token" content="{{ csrf_token() }}">

<title>Aras |
  {% if main_title %}
    {{ main_title }}
  {% endif %}
</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='admin/assets/images/icon/favicon.ico') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='admin/assets/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='admin/assets/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='admin/assets/css/themify-icons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='admin/assets/css/metisMenu.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='admin/assets/css/owl.carousel.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='admin/assets/css/slicknav.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='admin/assets/css/custom-css.css') }}">
