{% extends extends_layout if extends_layout else 
  'admin/adm_base.html' %}
{% from "_macros.html" import render_fields,
render_field %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block page_content %}

  <div class="content">
    <div class="content-header">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{ title }}</h3>
              <small></small>
            </div>
            <div class="card-body">

              <div class="col-md-4">
                <li class="nav-item d-none d-sm-inline-block"></li>
              </div>

              <form role="form" class="form-horizontal" action="{{ action }}" method="POST">
                <div class="card-body">
                  {{ render_fields(form, render_field) }}
                </div>

                <div class="card-footer">
                  <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script_src %}{% endblock %}

{% block script %}
  {{ super() }}
{% endblock %}