<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    TEST<br>
    main title =
    {{ main_title }}<br>
    title ={{ title }}<br>
    endpoint =
    {{ endpoint }}<br>
    param =
    {{ param }}<br>
    {# kwargs = {{kwargs['t']}} #}
    {# {% for k in kwargs['t']  %}
        {{ k }}
    {% endfor %} #}

  </body>

</html>