{% extends extends_layout if extends_layout else 
  'admin/adm_base.html' %}
{% from "_macros.html" import render_fields,
render_field %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block page_content %}
  <!-- Main content -->

  <!-- Dashboard Widgets -->
  {% if widgets %}
  <div class="row mt-4">
    {% for w in widgets %}
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-{{ w.color }} shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-{{ w.color }} text-uppercase mb-1">{{ w.title }}</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ w.value }}</div>
            </div>
            <div class="col-auto">
              <i class="{{ w.icon }} fa-2x text-gray-300"></i>
            </div>
          </div>
          {% if w.link %}
          <a href="{{ w.link }}" class="small text-{{ w.color }}">{{ w.link_label }} &rarr;</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="row">

    <div class="col-lg-6 col-ml-12">
      <div class="row">
        {# 
        <div class="col-12 mt-5">
          <!-- latest news area start -->
          <div class="card">
            <div class="card-body">
              <h4 class="header-title">{{ todo_title if todo_title}}</h4>
              <div class="letest-news mt-5">
                <div class="single-post mb-xs-40 mb-sm-40">

                  <div class="lts-content">
                    <span>Admin Post</span>
                    <h2>
                      <a href="blog.html">Sed ut perspiciatis unde omnis iste.</a>
                    </h2>
                    <p>
                      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some...
                    </p>
                  </div>
                </div>
                <div class="single-post">

                  <div class="lts-content">
                    <span>Admin Post</span>
                    <h2>
                      <a href="blog.html">Sed ut perspiciatis unde omnis iste.</a>
                    </h2>
                    <p>
                      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some...
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> #}

        <div class="col-12 mt-5">
          <div class="card">
            <div class="card-body  ">

              <h2>Notes</h2>
              <hr>

              {% for data in notes %}
                {% include 'admin/_listgroup_loader.html' %}
              {% endfor %}

              <a href="#">Explore More</a>

              {# {% include 'admin/_pagination.html' %} #}

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-6 col-ml-12">
      <div class="row">
        <div class="col-12 mt-5">
          <div class="card">
            <div class="card-body  ">
              {# <div class="col-12 mt-5"> #}

              <h2>Post</h2>
              <hr>

              {# <h1>{{ 'Hi, %(username)s!', username=current_user.username }}</h1> #}
              {% if form %}
                <form role="form" class="form-horizontal" action="{{ action }}" method="POST">
                  <div class="card-body">
                    {{ render_fields(form, render_field) }}
                  </div>
                  <hr>
                  <div>
                    <button type="submit" value="Submit" class="btn btn-primary pull-right">Submit</button>
                  </div>
                  <br>
                  <br>
                  <hr>
                </form>
                <br>
              {% endif %}

              {% for post in posts %}
                {% include 'admin/_post.html' %}
              {% endfor %}

              {% include 'admin/_pagination.html' %}

            </nav>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block script %}
  {{ super() }}
{% endblock %}
