{% extends 'auth/_auth_layout.html' %}

{% block page_content %}

  <div class="login-box ptb--100">

    <form action="{{ url_for('auth.password_reset_request') }}" method="POST" name="">
      {{ form.hidden_tag() }}

      <div class="login-form-head">
        <h4>Reset Password</h4>
        <p>Hey! Reset Your Password and comeback again</p>
      </div>

      <div class="login-form-body">

        <div class="form-gp">
          <label for="email">Email</label>
          {{ form.email }}
          <i class="ti-email"></i>
        </div>

        <div class="submit-btn-area mt-5">
          <button id="form_submit" type="submit">Reset
            <i class="ti-arrow-right"></i>
          </button>

        </div>

      </form>
      <div>

      {% endblock %}
