{% extends 'auth/_auth_layout.html' %}

{% block page_content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">{{ param['title'] }}</h3>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
              <h1>
                We are sorry...
              </h1>
              <h3>You have not confirmed your account yet.</h3>
              <p>
                Before you can access this site you need to confirm your account. Check your inbox, you should have received an email with a confirmation link.
              </p>
              <p>
                Need another confirmation email?
                <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a>
              </p>
              <p>
                or
                <a href="{{ url_for('auth.logout') }}">Logout</a>
              </p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

{% endblock %}