{% extends "admin/layouts/base_admin.html" %}
{% from "macros.html" import
render_fields,
render_field %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block page_content %}

  <div class="row">
    <div class="col-12 mt-5">
      <div class="card">
        <div class="card-body">
          {# <div class="col-12 mt-5"> #}
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-9">
                <div class="card">
                  <div class="card-body">
                    <h2>{{ title }}</h2>
                    <hr>
                    <h3 class="header-title">{{ ('To : %s' % recipient) }}</h3>

                    <div class="col-md-4">
                      <li class="nav-item d-none d-sm-inline-block"></li>
                    </div>

                    <form role="form" class="form-horizontal" action="{{ action }}" method="POST">
                      <div class="card-body">{{ render_fields(form, render_field) }}</div>

                      <hr>
                      <div class="float-end">
                        <button type="submit" value="Submit" class="btn btn-primary btn-md pull-right">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock page_content%}

{% block script %}
  {{ super() }}
{% endblock %}