{# DONE #}
<!-- Show error for form -->
{% macro show_errors(form) %}
<div class="class">
    <ul class="errors">
        {% for field_name, field_errors in form.errors | dictsort if
        field_errors %} {% for error in field_errors %}
        <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %} {% endfor %}
    </ul>
</div>
{% endmacro %}

<!-- Show message -->
<!--{% macro show_message() %}
  {%- with messages = get_flashed_messages(with_categories=true) -%}
  {% if messages %}
    {% for category, message in messages %}

      <div class="fixed w-auto">
        <div class="alert alert-{{ category }} d-inline-block fade show" role="alert">
          <b>{{ category.upper() + ": "}}</b>{{ message }}
          {# <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="fa fa-times"></span>
          </button> #}
        </div>
      </div>

    {% endfor %}
  {% endif %}
  {%- endwith %}
{% endmacro %}-->

{% macro inline_error(field) %} {% if field.errors %}
<ul class="errors">
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %} {% endmacro %} {# TRIAL #} {% macro render_field(field) %} {% if
field.type == "BooleanField" %}

<div class="form-group">
    <label class="custom-control-label">{{ field.label }}</label>
    {{ field(class_="checkbox") | safe}}
</div>

{% elif field.type == "SelectField" %}

<div class="form-group">
    {{ field.label(class="col-form-label") }} {{ field(class_="form-control",
    style="height:43px", **kwargs) | safe }}
</div>

{% elif field.type == "DateField" %}

<div class="form-group">
    {{ field.label(class="col-form-label") }} {{ field(class_="form-control",
    **kwargs) | safe }}
</div>

{% elif field.type == "TimeField" %}

<div class="bootstrap-timepicker">
    <div class="form-group">
        {{ field.label(class="col-form-label") }} {{
        field(class_="form-control", **kwargs) |safe }}
    </div>
</div>

{% elif field.type == "FileField" %}

<div class="form-group">
    {{ field.label(class="col-sm-2 col-form-label") }}
    <div class="col-sm-10">
        {{ field(class="custom-file-input", **kwargs) |safe }}
    </div>
</div>

{% elif field.type == "SubmitField" %} {{ field(type="submit", **kwargs)|safe }}
{% else %}

<div class="form-group">
    {{ field.label }} {{ field(class="form-control", **kwargs)|safe }}
</div>

{% endif %} {% endmacro %} {# TRIAL #} {% macro render_fields(form, render_func)
%}
<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />

{% for field in form if field.type not in["HiddenField", "CSRFTokenField"] %} {{
render_func(field) }} {% if field.errors %} {% for error in field.errors %} {{
error|e }} {% endfor %} {% endif %} {% endfor %}

<div class="">{{ show_errors(form) }}</div>
{% endmacro %} {# TRIAL #} {% macro render_label(form) %} {% for field in form
if field.widget.input_type != 'hidden' %} {{ field.label }} {% endfor %} {%
endmacro %} {% macro pagination_widget(pagination, endpoint, filtered = '',
fragment = '') %}

<li {% if not pagination.has_prev %} class="page-item disabled" {% endif %}>
    {% if child_as_main_list %}
    <a
        class="page-link"
        href="{% if pagination.has_prev %}{{ url_for(endpoint, child_as_main_list='as-main-list', page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}"
    >
        &laquo;
    </a>
    {% else %}
    <a
        class="page-link"
        href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}"
    >
        &laquo;
    </a>
    {% endif %}
</li>

{% for p in pagination.iter_pages() %} {% if p %} {% if p == pagination.page %}
<li class="page-item active">
    {% if child_as_main_list %}
    <a
        class="page-link"
        href="{{ url_for(endpoint, child_as_main_list='as-main-list', page=p, **kwargs) }}{{ fragment }}"
        >{{ p }}</a
    >
    {% else %}
    <a
        class="page-link"
        href="{{ url_for(endpoint, page=p, **kwargs) }}{{ fragment }}"
        >{{ p }}</a
    >
    {% endif %}
</li>
{% else %}
<li class="page-item">
    {% if child_as_main_list %}
    <a
        class="page-link"
        href="{{ url_for(endpoint, child_as_main_list='as-main-list', page=p, **kwargs) }}{{ fragment }}"
        >{{ p }}</a
    >
    {% else %}
    <a
        class="page-link"
        href="{{ url_for(endpoint, page=p, **kwargs) }}{{ fragment }}"
        >{{ p }}</a
    >
    {% endif %}
</li>
{% endif %} {% else %}
<li class="page-item disabled">
    <a href="#">&hellip;</a>
</li>
{% endif %} {% endfor %}

<li {% if not pagination.has_next %} class="page-item disabled" {% endif %}>
    {% if child_as_main_list %}
    <a
        class="page-link"
        href="{% if pagination.has_next %}{{ url_for(endpoint, child_as_main_list='as-main-list', page=pagination.next_num,  **kwargs) }}{{ fragment }}{% else %}#{% endif %}"
    >
        &raquo;
    </a>
    {% else %}
    <a
        class="page-link"
        href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}"
    >
        &raquo;
    </a>
    {% endif %}
</li>

{% endmacro %}
