<div class="settings-panel d-none" id="panel-database">
  <div class="settings-panel-header">
    <h3 class="settings-panel-title"><i class="ti-server"></i>Database Inspector</h3>
    <p class="settings-panel-desc">Direct view of physical database tables and their schema structure.</p>
  </div>
  {% set main_title         = "DB Tables" %}
  {% set items              = db_tables %}
  {% set view_columns       = [("Table Name","name"),("Columns","columns")] %}
  {% set edit_url_base      = false %}
  {% set use_item_edit_url  = true %}
  {% set delete_url_base    = false %}
  {% set add_url            = false %}
  {% set search_enabled     = true %}
  {% set search_q           = q_database if q_database is defined else '' %}
  {% set search_param       = "q_database" %}
  {% set filter_cols        = view_columns %}
  {% set active_filters     = [] %}
  {% set _list_id = "database" %}
  {% set skip_hero = True %}
  {% include 'admin/gen/gen_view_list_content.html' %}
</div>
