<h2>Auth Menu</h2>
<ul>
  {% if current_user.is_authenticated %}

    <li>
      <a href="{{ url_for('auth.logout_view') }}">Logout</a>
    </li>
    <li>
      <a href="{{ url_for('auth.change_password') }}">Change Password</a>
    </li>
    <li>
      <a href="{{ url_for('auth.change_email_request') }}">Change Email</a>
    </li>

  {% else %}

    <li>
      <a href="{{ url_for('auth.login_view') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Login</a>
    </li>
    <li>
      <a href="{{ url_for('auth.register_view') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Register</a><br/></li>
    <li>
      <a href="{{ url_for('auth.password_reset_request') }}">Forgot password</a><br/></li>

  {% endif %}
</ul>
