<div class="aras-menu-card">
    <h4 class="aras-menu-title">Account</h4>
    <ul class="aras-menu-list">
      {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
        <li class="separator"></li>
        <li><a href="{{ url_for('auth.logout_view') }}" class="text-danger">Logout</a></li>
      {% else %}
        <li><a href="{{ url_for('auth.login_view') }}">Login</a></li>
        <li><a href="{{ url_for('auth.register_view') }}">Register</a></li>
        <li><a href="{{ url_for('auth.password_reset_request') }}">Forgot password</a></li>
      {% endif %}
    </ul>
</div>
