{% extends 'auth/_auth_layout.html' %}

{% block page_content %}
<div class="login-box ptb--100">
  <form action="{{ url_for('auth.change_email_request') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="login-form-head">
      <h4>Change Email</h4>
      <p>Enter your new email address and current password to confirm.</p>
    </div>
    <div class="login-form-body">
      <div class="form-gp">
        <label for="email">New Email</label>
        {{ form.email(class_="form-control") }}
        <i class="ti-email"></i>
      </div>
      <div class="form-gp">
        <label for="password">Current Password</label>
        {{ form.password(class_="form-control", type="password") }}
        <i class="ti-lock"></i>
      </div>
      <div class="submit-btn-area mt-5">
        <button id="form_submit" type="submit">Request Change <i class="ti-arrow-right"></i></button>
      </div>
    </div>
  </form>
</div>
{% endblock page_content %}
