{% extends 'auth/_auth_layout.html' %} {% from "_macros.html" import show_errors
%} {% block page_content %}

<!-- login area start -->

<div class="login-box ptb--100">
    <form
        action="{{ url_for('auth.login_view') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}"
        method="POST"
        class="pt-3"
    >
        {{ form.hidden_tag() }}
        <div class="login-form-head">
            <h5 class="text-muted">
                <a href="#">Aras Dashboard</a>
            </h5>
            <p>Please sign in</p>
            <br />
            <p>{{ show_message() }}</p>
        </div>
        <div class="login-form-body">
            <div class="form-gp">
                <label for="email-or-username">Email or Username</label>
                {{ form.email_or_username(type="text", class_="") }}
                <i class="ti-email"></i>
                <div class="text-danger"></div>
            </div>
            <div class="form-gp">
                <label for="password">Password</label>
                {{ form.password(type="password", class_="") }}
                <i class="ti-lock"></i>
                <div class="text-danger"></div>
            </div>
            <div class="row mb-4 rmber-area">
                <div class="col-6">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        {{ form.remember_me(type_="checkbox",
                        class_="custom-control-input") }}
                        <label
                            class="custom-control-label"
                            for="customControlAutosizing"
                            >Remember Me</label
                        >
                    </div>
                </div>
                <div class="col-6 text-right">
                    <a href="{{ url_for('auth.password_reset_request') }}"
                        >Forgot Password?</a
                    >
                </div>
            </div>
            <div class="submit-btn-area">
                <button id="form_submit" type="submit">
                    Login
                    <i class="ti-arrow-right"></i>
                </button>
            </div>
            <div class="form-footer text-center mt-5">
                <p class="text-muted">
                    Don't have an account?
                    <a
                        href="{{ url_for('auth.register_view') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}"
                        class="text-center"
                    >
                        Create Account
                    </a>
                </p>
            </div>
        </div>
    </form>
</div>

<!-- login area end -->

{% endblock %}
