{% extends 'auth/_auth_layout.html' %}

{% block page_content %}

<div class="login-box ptb--100">

	<form action="{{ url_for('auth.password_reset', token=token) }}" method="POST" name="">
		{{ form.hidden_tag() }}
		<div class="login-form-head">
			<h4>Reset Password</h4>
			<p>Please enter your new password</p>
		</div>

		<div class="login-form-body">

			<div class="form-gp">
				<label for="password">Password</label>
				{{ form.password(class_="", type="password") }}
				<i class="ti-lock"></i>
				<div class="text-danger"></div>
			</div>

			<div class="form-gp">
				<label for="confirm_password">Confirm Password</label>
				{{ form.confirm_password(class_="", type="password") }}
				<i class="ti-lock"></i>
				<div class="text-danger"></div>
			</div>

			<div class="submit-btn-area mt-5">
				<button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
			</div>

		</div>
	</form>

</div>

{% endblock page_content%}